<div layout="row" style="margin:5px;">
    <form ng-submit="Save()" style="width:100%">
        <div>
            <md-input-container>
                <label>Titel</label>
                <input md-maxlength="100" required name="title" ng-model="article.title" ng-click="model.isEditMode=true">
            </md-input-container>

            <div layout="row" layout-wrap>
                <div flex="{{model.isEditMode?50:0}}" ui-codemirror="model.editorOptions" ng-model="article.content" sync-scroll
                     preview-container=" 'preview-container' " markdown-container=" 'markdown-container' ">
                </div>
                <div flex="{{model.isEditMode?50:100}}">
                    <section ng-class="{'entry-preview-content':model.isEditMode}" id="preview-container">
                        <div sd-model-to-html="article.content" id="markdown-container" />
                    </section>
                </div>
            </div>
        </div>
        <div style="background-color:lightgray;width:100%; position:fixed; bottom:0;" layout="row">
          <div flex>
          <md-input-container>
              <input ng-model="article.tags">
          </md-input-container>
        </div>
        <div flex offset="50">
            <section layout="row" layout-sm="column" layout-align="end center">
                <md-button md-no-ink class="md-primary" ng-hide="model.isEditMode" ng-click="model.isEditMode=!model.isEditMode" type="button">edit</md-button>
                <md-button ng-show="model.isEditMode" type="submit">save</md-button>
                <md-button ng-hide="model.isEditMode" class="md-warn" ng-click="Delete()" type="button">delete</md-button>
                <md-button ng-click="toggleRight()" type="button" class="md-primary">
                    Toggle right
                </md-button>
            </section>
          </div>
        </div>
    </form>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-content ng-controller="RightCtrl" layout-padding>
            <md-button ng-click="close()" class="md-primary">
                Close
            </md-button>
            <md-list>
                <!--TODO:selektiertes Element hervorheben und Liste geöffnet lassen-->
                <md-list-item class="md-2-line" ng-repeat="entry in entries" ng-click="openEntry(entry)">
                    <div class="md-list-item-text">
                        <h3>{{ entry.title }}</h3>
                        <p>{{entry.author}}</p>
                        <p>{{entry.tags}}</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

</div>
