<md-content layout="row">
    <md-list flex="20">
        <md-list-item class="md-2-line" ng-repeat="entry in entries" ng-click="openEntry(entry)">
            <div class="md-list-item-text">
                <h3>{{ entry.title }}</h3>
                <p>{{entry.author}}</p>
                <p>{{entry.tags}}</p>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>

    <div class="article" flex layout="column">
        <div style="background-color:lightgray;padding:5px;right: 0px;">
            <button ng-hide="model.isEditMode" type="button" ng-click="model.isEditMode=!model.isEditMode">edit</button>
            <button ng-show="model.isEditMode" type="button" ng-click="Save()">save</button>
            <button ng-show="model.isEditMode" type="button" ng-click="Delete()">delete</button>
        </div>
        <div>
            <label ng-if="!model.isEditMode" style="font-size:1.5em;">{{ article.title }}</label>
            <textarea ng-if="model.isEditMode" style="font-size:1.5em; width:100%;" ng-model="article.title"></textarea>
            <input type="text" ng-model="article.tags"></input>
        </div>
        <p>
            <small>by: {{ article.author }}</small>
        </p>
        <div layout="row">
            <div ng-if="model.isEditMode" ui-codemirror="model.editorOptions" ng-model="article.content" sync-scroll preview-container=" 'preview-container' " markdown-container=" 'markdown-container' "></div>
            <section ng-class="{'entry-preview-content':model.isEditMode}" id="preview-container">
                <div sd-model-to-html="article.content" id="markdown-container" />
            </section>

        </div>
    </div>

</md-content>
