<md-toolbar>
    <div class="md-toolbar-tools" layout="row">
        <div flex="50" layout-align="start center">
            <md-button class="md-icon-button" aria-label="Go to start" ng-href="/">
                <img src="content/logo.png" alt="" style="height: 50px;" />
            </md-button>
        </div>
        <div flex="50" layout-align="end center" layout="row">
            <md-button class="md-icon-button" aria-label="Search" ng-href="/blog">
                <md-tooltip>
                    Yes, that's seems to be magic, but sometimes i can find things for you.
                </md-tooltip>
                <i class="icon ion-wand inputIcon"></i>
                </md-icon>
            </md-button>
            <md-input-container flex="40">
                <label>Machine, please find for me...</label>
                <input ng-model="bindmelater" class="inputText" type="text">
            </md-input-container>
        </div>
    </div>
</md-toolbar>

<md-content layout="row" layout-align="center start">
    <md-content flex="65" layout="column" layout-align="center">
        <md-content layout="row" layout-padding>
            <md-button class="md-icon-button" aria-label="Empty your brain into our database.">
                <md-tooltip>
                    Empty your brain and share your knowledge with the world.
                </md-tooltip>
                <i class="icon ion-ios-lightbulb inputIconList"></i>
                </md-icon>
            </md-button>
            <md-input-container flex>
                <label>I want to share with the world...</label>
                <input ng-model="bindmelater2" class="inputText" style="font-size:1em;" type="text">
            </md-input-container>
        </md-content>
        <md-content ng-repeat="entry in entries track by entry._id" ng-click="openEntry(entry)" id="entry">
          <md-content layout="row">
                <img ng-src="https://d262ilb51hltx0.cloudfront.net/fit/c/36/36/1*S74e0h9iVobNegOC1VOXHQ.png" />
                <md-content layout="column" layout-align="start start" layout-padding class="tags">
                  <md-chips ng-model="entry.tags" readonly="true">
                  </md-chips>
                  <md-content layout="row">
                    <span class="cite">Jana Hehr</span>
                    <span class="cite" style="padding-left:10px">3 days ago</span>
                  </md-content>
                </md-content>
          </md-content>
            <div style="overflow:hidden;height:180px;">
                <img ng-src="http://bootstrap-live-customizer.com/themes/amelia.png" style="width:100%;height:auto" class="md-card-image" />
            </div>
            <h2 id="entryTitle">{{entry.title}}</h2>
            <div sd-model-to-html="getContent(entry.content)"></div>
            <md-content layout="row" layout-align="center center">
              <a href="" ng-click="openEntry(entry)">Continue reading</a>
              <span id="readLength">8 min read</span>
            </md-content>
        </md-content>
    </md-content>
</md-content>
<nav mfb-menu position="br" effect="slidein-spring" label="Create new post" ng-click="createBlogEntry()" active-icon="ion-plus-round" resting-icon="ion-navicon-round" toggling-method="hover">
</nav>
