@import '../../less/global.less';

.startContent
{
  background-color:@primaryColor !important;
}
.citeHeader
{
  color: @primaryAccentColor;
  font-size:2.5em;
}
.citeSub
{
  color:#929f6a;
  font-size:1em;
  font-style:italic;
}

.logo
{
  height: 161px;
  width: 194px;
  min-width:194px;
  margin: 0px 5px 0 0px;
}

.productHeader{
  color: @primaryForegroundColor;
}

.productVersion
{
  margin:20px 0 0 5px;
  color:@lightGray;
  font-size:0.5em;
}

.inputSeperator
{
  font-size:2em;
  color:@lightGray;
}

.inputIcon
{
  font-size: 3.5em;
  color:@primaryForegroundColor;
}

.inputText
{
  font-size:2.8em;
  color:@primaryForegroundColor !important;
}
