<md-content class="startContent" layout-align="start center" layout-padding layout="row" style="overflow:hidden;min-height:130px;">
  <img alt="" class="logo" src="content/logo.png"/>
  <h2 class="md-display-1 productHeader">{{'GENERAL.APPNAME' | translate}}</h2>
  <sub class="productVersion">alpha beta gamma</sub>
</md-content>
<md-content style="overflow:hidden;min-width:900px;min-height:300px">
  <div>
    <img alt="" src="content/header.png" style="width:100%; height:auto;"/>
    <span class="citeHeader" style="position:absolute;top:20px;left:15px;">{{'START.CITE' | translate}}</span>
    <span class="citeSub" style="position:absolute;top:70px;left:15px;">{{'START.CITEAUTOR' | translate}}</span>
  </div>
</md-content>
<md-content class="startContent" flex layout-align="center center" layout-padding layout="row" style="overflow:hidden;">
  <md-button class="md-icon-button" ng-href="/blog">
    <md-tooltip>
      {{'GENERAL.SEARCH.TOOLTIP'|translate}}
    </md-tooltip>
    <i class="icon ion-wand inputIcon"></i>
  </md-button>
<md-input-container flex="40">
  <label>{{'GENERAL.SEARCH.PLACEHOLDER'|translate}}</label>
  <input class="inputText" ng-model="bindmelater" type="text">
</md-input-container>
<label class="inputSeperator" style="padding:25px 60px 0 40px;">{{'START.ACTIONSEPERATOR'|translate}}</label>
<md-button class="md-icon-button">
  <md-tooltip>
    {{'BLOG.ENTRY.CREATE.TOOLTIP'|translate}}
  </md-tooltip>
  <i class="icon ion-ios-lightbulb inputIcon"></i>
</md-button>
<md-input-container flex="40">
<label>{{'BLOG.ENTRY.CREATE.PLACEHOLDER'|translate}}</label>
<input class="inputText" ng-model="bindmelater2" type="text">
</md-input-container>
</md-content>
