//application wide styles here
@import 'global.less';

//material manuell changes
md-content.md-default-theme{
   background-color:@primaryColor;
 }

 .mfb-component__button--child, .mfb-component__button--main
 {
   background-color: @primaryColor;
 }

body
{
  font-family: 'Open Sans', sans-serif;
}
