<md-content flex layout-align="center center" layout-padding layout="row" style="overflow:hidden;background-color:transparent">
  <md-button ng-click="createBlogEntry()" class="md-icon-button">
      <i class="icon ion-ios-lightbulb inputIcon"></i>
  </md-button>
  <md-input-container flex>
    <label>{{'BLOG.ENTRY.CREATE.PLACEHOLDER'|translate}}</label>
      <input ng-model="model.newEntryTitle" class="inputText" type="text" on-enter="createBlogEntry()"/>
  </md-input-container>
</md-content>
